<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  <title>Search App</title>
</head>

<body>

  <div class="container">
    <div class="grid">

      <div class="panel">
        <div class="section">
          <p class="label">Search</p>
          <input class="sa-search-input input" type="text">
        </div>
        <div class="section">
          <p class="label">Matches</p>
          <ul class="sa-results-list list">
          </ul>
        </div>
      </div>

      <div class="panel">
        <div class="section section--full-w-label">
          <div class="label flex items-center justify-between">
            <div>Input</div>
            <label class="button button--text" for="sa-file">Upload a file</label>
          </div>
          <input type="file" name="file" id="sa-file" class="sa-file-input inputfile" />
          <textarea class="sa-text-input textarea" name="input-text"></textarea>
        </div>
      </div>

    </div>
  </div>

  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>